img {
  float: right;
  border-style: double;
  border: 2px solid;
  padding: 4px;
}
.photofloat {
  font-size: 18px;
  font-style: italic;
  padding-right: 8px;
}
.floattext {
  float: left;
}
.bg-beige {
  background-color: beige;
}
.row-border {
  border: 2px solid;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: : 4px;
  margin-bottom: 4px;
}
.col-border {
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 5px;
}
.col-noborder {
  padding: 5px;
}
h5 {
  font-weight: bold;
}
#em-h {
  font-style: italic;
  font-weight: bold;
}
li {
  font-style: italic;
}
.btn-submit {
  background-color: green;
  color: white;
  font-weight: bold;
  border: 1px solid;
  border-color: black;
}
#suggestion {
  display: none;
  font-style: italic;
}
form#NameInfo {
  display: inline-block;
}
